nav{
  background-color: #800000;
  overflow: hidden;
}
nav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  border-right: 1px solid #bbb;
}
nav a:last-child{
  border-right: none;
}
nav a:hover{
  background-color: #ddd;
  color: black;
}

body{
  font-family: Times New Roman;
  margin: 25px;
  margin-left: 200px;
  margin-right: 200px;
  background: url('/static/blog/images/default_background.jpg');
  background-repeat: no-repeat;
  background-color: #87A9B5;
}
body header{
  padding: 10px;
  text-align: left;
  background: white;
}
body footer{
  bottom: 0;
  left: 0;
  height: 45px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #800000;
  color: white;
  width: 100%;
}
#blog{
  float: left;
  width: 74%;
}
#blog .card{
  border-radius: 25px;
  background-color: white;
}
#blog a{
    color: black;
    text-decoration: none;
}
.row a:hover{
    background-color: #ddd;
}
.card {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}
#display {
  float: right;
  width: 25%;
  padding-left: 10px;
}
#display .card{
  background-color: #d2b48c;
}
#caption{
  font-style: italic;
}
p{
  font-size: 16px;
}
.row{
padding: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#portrait {
  padding: 0px;
  margin-top: 0px;
}
#games {
  padding: 5px;
}
#DnD {
  padding: 5px;
}
#firearms {
  padding: 5px;
}
#biography .card {
  width: 64%;
}
#row0 .card {
  float: left;
}
#row1 .card {
  float: right;
}
#row2 .card {
  float: left;
}
#aboutHyper{
  color: black
}
#tipsHyper{
  color: black;
}
#techTips{
    background-color: white;
    padding: 10px;
}
#display a{
    color: black;
    text-decoration: none;
}