<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

    <link rel="shortcut icon" href="{% static 'blog/images/Takeda.ico' type='image/x-icon' %}">
</head>
<body>
<nav>
    <a href="">Home</a>
    <a href="tech_tips">Tech Tips</a>
    <a href="archive">Archive</a>
    <a href="about_me">about</a>
</nav>

<div class="row">
    {% if latest_blog_list %}
        <div id="blog">
            {% for blog in latest_blog_list %}
                <div class="card">
                    <h2><a href="{% url 'blog:entry' blog.id %}">{{ blog.title }} by
                        {{ blog.author }}, {{ blog.posted }}</a></h2>
                    <p>{{ blog.content|truncatewords:100 }}</p>
                </div>

                <h5>Comments: {{ blog.comment_set.count }}</h5>
            {% endfor %}

            <div class="card">
                <h3><a href="archive">More...</a> </h3>
            </div>
        </div>

    {% else %}
        <p>No blog is available.</p>
    {% endif %}
    <div id="display">
        <div class="card">
            <h1><a id="aboutHype" href="about_me">About Me:</a></h1>
            <img id="portrait" src="/static/blog/images/anonymous.png" alt="Anonymous Rancher" width="400" height="400">
            <p id="caption">Portrait of myself preparing for an interview in Houston, Texas</p>
        </div>

        <div class="card">
            <h2><a id="tipsHype" href="tech_tips">Tech Tips:</a></h2>
            <ul>
                <li>HTML5</li>
                <li>CSS</li>
                <li>Git</li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <h4>maintained by: bstewart794@gmail.com It is {% now "jS F Y H:i" %}</h4>
</footer>
</body>
</html>